body{
	/* background-color:#f8f8f1; */
	background-color: #fff;
}
*{
	margin: 0px;
	padding: 0px;
}

.navigation{
	position: fixed;
	width: 100%;
	background-color: transparent;
	/* background-color: darkblue !important; */
	background-color: rgba(94, 73, 250, 0.898) !important;
	backdrop-filter: blur(10px);
	z-index: 1;
}
.portfolio-section{
	padding: 50px;
	height: 450px;
	width: 100%;
	text-align: center;
	border: 2px solid rgb(137, 50, 50);
}
#home {
	background-image: url("img/home.jpg");
	background-repeat: no-repeat;
	height: 430px;
	background-position: 110% 20%;
	background-size: 100%;
	display: block;
	border: none;
}
.home-item{
	/* border: 2px solid #bd2130; */
    height: 300px;
    width: 50%;
    margin-left: 30px;
    margin-top: 40px;
    color: whitesmoke;
    text-align: center;

}
.main-common{
	position: relative;
	top: 75px;
	width: 100%;
}
.brand{
	font-size: 35px;
	font-family: Colonna MT;
	/* font-family: Old English Text MT; */
	color:rgb(252, 252, 252);
	font-variant: small-caps;
	margin-left: 50px;

}
#myname{
	color: red;
}
.navmenu{
	color: rgb(252, 252, 252);
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bolder;
	padding-left: 20px;

}
.navmenu:hover{
	text-decoration: underline 2px solid rgb(250, 248, 248);
	text-underline-offset: 6px;
}

html{
	scroll-behavior: smooth;
}
.main-about{
	/* background-color: rgb(240, 240, 240); */
	margin-top: -35px;
	padding-top: 10px;
	height: 380px;
	width: 100%;
	/* border: 1px solid darkblue; */
    position: relative;
    top: auto;
}
#about{
	background-image: url("img/shivani.png");
	background-repeat: no-repeat;
	height: 400px;
	background-position: 110% 20%;
	background-size: 45%;
	border: none;
	background-color:#f8f8f1;
}
#about-info{
	position: relative;
    top: 20px;
    /* border: 1px solid black; */
	width: 65%;
    height: 275px;
    margin-left: 21px;
	text-align: left;
}
.info{
	font-weight: bolder;
	color: lightgrey;

}
.role{
	color: #bd2130;
	font-size:  30px;
	font-weight: bolder;
}
.role:hover{
	text-decoration: underline;
	text-underline-offset: 4px;
}
.cvbtn-own{
	margin-top: 35px;
	margin-left: 20px;
    border: none;
    width: 17%;
    height: 15%;
    background-color: blue;
    color: #f8f8f1;
    border-radius: 4px;
	transition-duration: 1s;
}
.cvbtn-own:hover{
	background-color: rgba(94, 73, 250, 0.898) ;
	border: 2px solid blue;
	transform: scale(1.1);
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	word-break: normal;
  }
.roboto-mono{
  font-family: "Roboto Mono", monospace;
  /* font-family: sans-serif; */
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.alice-regular {
	font-family: "Alice", serif;
	font-weight: 400;
	font-style: normal;
	font-variant:small-caps;
	font-size: 35px;
	margin-left: 90px;
}
.btn1{
	margin-right: 6px;
	transition-duration: 1s;
}
.btn1:hover{
	transform: scale(1.1);
}
.site-logo{
	transition-duration: 1s;
}
.site-logo:hover{
	transform: scale(1.2);
}
#skills{
	height: 510px;
	border: none;
	
}
.skill-icon{
	height: 70px;
    width: 70px;
	animation-duration: 2s;
	animation-name: zoom;
	animation-iteration-count: 1;

}
.skill-img{
	display: inline;
}
@keyframes zoom {
	100%{
		transform: scale(1.1);
		box-shadow: 20px;
	}
}
.skill-main{
	/* background-color: rgb(240, 240, 240); */
	background-color: #fff;
	margin-top: -35px;
	padding-top: 10px;
	/* border: 1px solid darkblue; */
    position: relative;
    top: auto;
}
.skill-content{
	height: 400px;
	width: 96%;
	margin-left: 17px;
	margin-top: 3px;
	padding: 30px 30px;
	animation-duration: 1s;
	animation-name:zoom;
	animation-iteration-count: 1;
}
table{
	border-collapse: separate;
	/* border-spacing: 20px; */
}
.tbl{
	/* border: 2px solid red; */
	margin-top: -60px;
	height: 420px;
	width: 100%;
	border-spacing: 40px;
}
.tbl tr td{
	padding: 20px;
	/* border: 2px solid royalblue ; */
	border-radius: 10px;
	box-shadow:3px 3px 3px rgb(114, 110, 110);
	background-color: whitesmoke;
}
.skill-heading{
	color: rgb(36, 4, 143);
	font-size: 25px;
	font-weight: bolder;
	font-family: sans-serif;
	font-variant: small-caps;
}
.skill-paragraph{
	color: #342e2f;
	font-size: 18px;
	/* font-weight: bolder; */
	/* line-height:20px; */
	word-spacing: 3px;
	margin-top: 20px;
}
.main-project{
	/* background-color: rgb(240, 240, 240); */
	margin-top: -50px;
	padding-top: 10px;
	/* border: 1px solid darkblue; */
    position: relative;
    top: auto;
}
#projects{
	height: 639px;
	border: none;
}
.project-title{
    position:relative;
    top: auto;

}
.projects-content{
	height: 520px;
	/* border: 1px solid darkblue; */
}
h1{
	text-align: center;
	font-family: Arial black;
	color: bisque;


}
h1:hover{
	color: transparent;
	-webkit-text-stroke: 1px bisque;
}
.contant-main{
	height: 658px;
    width: 100%;
    /* border: 1px solid navy; */
    margin-top: -74px;
	display: flex;
	padding-top: 67px;
    padding-left: 35px;
	text-align: left;
    
}
#contant{
	height: 691px;	
	border: none;
}
.contant-info{
	font-family: sans-serif;
	margin-top: 10px;
	margin-right:38px;
	height: 565px;
    width: 50%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
	/* box-shadow: 0px 0px 1px; */
}
.contant-child{
	padding: 15px;
	padding-left: 36px;
	margin-top: 50px;
	
}
.footer{
	width:100%;
	height:50px;
	margin-top: 100px;
	text-align: center;

}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
 
  